{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <form action="/add_cash" method="post">
        <div class="row justify-content-center">
            <div class="col-auto">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cash" name="cash" placeholder="Amount" type="number" step=".01">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit">Add Cash</button>
            </div>
        </div>
    </form>
    <h2 class="mt-5">Cash Balance: {{balance | usd}}</h2>
{% endblock %}